default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: postgres

development:
  <<: *default
  database: Orulo_development

test:
  <<: *default
  database: Orulo_test

production:
  <<: *default
  database: Orulo_production
  username: Orulo
  password: <%= ENV['ORULO_DATABASE_PASSWORD'] %>
